.DS_Store
app/.DS_Store
app/controllers/.DS_Store
app/controllers/projects_controller.rb
app/helpers/.DS_Store
app/helpers/kpis_helper.rb
app/views/.DS_Store
app/views/projects/.DS_Store
app/views/projects/_kpis.html.erb
app/views/projects/show.html.erb
